<div>
	<navbar></navbar>
	<div class="container">

		<div class="row">
			<div class="col-lg-6">
				<h1>Tetris Simulator</h1>
        <form name="simulator" class="form-horizontal">
           <fieldset>
    				<div class="form-group">
                <label for="pieces" class="col-lg-2 control-label">Pieces</label>
                <div class="col-lg-10">
                  <textarea class="form-control" rows="4" id="pieces" ng-model="pieces" required></textarea>
                  <span class="help-block">For example: IJLOSTZIJLOSTZIJLOSTZIJLOSTZIJLOSTZIJLOSTZIJLOSTZIJLOSTZ</span>
                </div>
            </div>
            <div class="form-group">
                <label for="moves" class="col-lg-2 control-label">Moves</label>
                <div class="col-lg-10">
                  <textarea class="form-control" rows="4" id="moves" ng-model="moves" required></textarea>
                  <span class="help-block">For example: 3:1;0:0;3:0;0:1;6:1;6:0;5:1;5:0;3:1;6:0;1:0;2:1;3:2;2</span>
                </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default" ng-click="play()" ng-disabled="!simulator.$valid">Go and simulate</button>
        	   </div>
      		  </div>
          </fieldset>
        </form>				
			</div>
      <div class="col-lg-6">
        <div id="display"></div>
      </div>
		</div>
	</div>
</div>