.ngdialog.ngdialog-theme-default .ngdialog-close {
    padding: 0;
    border: 0;
}

img.devoxx {
    background: #241E35;
}

.steps .row {
    padding: 20px;
}

.steps .panel-heading .number {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
    background: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
}
.steps .panel-heading {
    font-size: 20px;
}

.steps .panel-heading a {
    color: white;
}

.steps .panel-body {
}

.steps .panel-body p {
    height: 50px;
}

.steps .panel-body img {
    height: 160px;
    max-width: 100%;
}

.news-page article {
    overflow: hidden;
    margin-top: 20px;
}
.news-page article h3 {
    margin-top: 0;
}

.news-page article h3 .label {
    padding: 8px 15px 0 15px;
    margin-left: -16px;
    margin-right: 10px;
    margin-top: -18px;
    display:inline-block;
    float: left;
    height: 54px;
    line-height: 24px;
    border-radius: 0;
}

.news-page article h3 .label .badge {
    display: block;
    color: #444444;
    background-color: white;
    font-size: 10px;
}

tr.excluded {
    opacity: 0.7;
}

tr.excluded span.glyphicon.glyphicon-user {
    font-size: 10px;
}

tr.excluded span.glyphicon.glyphicon-user:after {
    content: '';
    border-bottom: 2px solid rgba(217, 35, 15, 0.6);
    width: 20px;
    transform: rotate(-45deg);
    display: block;
    position: absolute;
    left: -5px;
    top: 5px;
}