.tetris {
    position: relative;
}

.tetris h1 {
    font-size: 20pt;
}

.tetris h2 {
    font-size: 16pt;
}

.tetris-row {
    font-size: 0;
}

.tetris-cell {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
}

.tetris-cell-1 {
    background-color: #F92338;
}
.tetris-cell-2 {
    background-color: #C973FF;
}
.tetris-cell-3 {
    background-color: #1C76BC;
}
.tetris-cell-4 {
    background-color: #FEE356;
}
.tetris-cell-5 {
    background-color: #53D504;
}
.tetris-cell-6 {
    background-color: #36E0FF;
}
.tetris-cell-7 {
    background-color: #F8931D;
}



.shape-demo {
    display: inline-block;
    margin-right: 20px;
}

.tetris .next-shape {
    position: absolute;
    left: 220px;
    top: 20px;
}